In [3]:
import pandas as pd

In [136]:
sales_LLY_19_18_ = pd.read_excel("/Users/GuntherUlvanget/Dropbox/NADAC_downloads/ELILILLY/IR workbook Q3 2019.xlsx",
                  sheet_name = ["2019 Revenue", "2018 Revenue"])
sales_LLY_17_ = pd.read_excel("/Users/GuntherUlvanget/Dropbox/NADAC_downloads/ELILILLY/IR workbook Q3 2018 with Balance Sheet revised.xlsx",
                            sheet_name = "2017 Revenue")
sales_LLY_16_ = pd.read_excel("/Users/GuntherUlvanget/Dropbox/NADAC_downloads/ELILILLY/IR_Workbook_Q1_2017_Excluding_Balance_Sheet.xlsx",
                            sheet_name = "2016 Revenue" )
sales_LLY_15_ = pd.read_excel("/Users/GuntherUlvanget/Dropbox/NADAC_downloads/ELILILLY/IR_workbook_Q1_2016.xlsx",
                            sheet_name ="2015 Revenue" )
sales_LLY_14_13_ = pd.read_excel("/Users/GuntherUlvanget/Dropbox/NADAC_downloads/ELILILLY/IR_workbook_Q4_2014.xls",
                              sheet_name = ["2014 Sales","2013 Sales"])

In [137]:
#separate 2019 and 2018 sales data from the dictionary. 
#First make itmes into a list of dataframes
#then assign each DF in df_list to variable 

df_list = list (sales_LLY_19_18_.items())
df_2_list = list (sales_LLY_14_13_.items())

In [138]:
sales_LLY_18_ = (df_list[1][1])
sales_LLY_19_ = df_list[0][1]
sales_LLY_13_ = df_2_list[1][1]
sales_LLY_14_ = df_2_list[0][1]

In [139]:
sales_LLY_13_.shape

(66, 21)

In [140]:
sales_LLY_14_.shape

(69, 21)

In [141]:
sales_LLY_15_.shape

(73, 21)

In [142]:
sales_LLY_16_.shape

(77, 21)

In [143]:
sales_LLY_17_.shape

(79, 21)

In [165]:
sales_LLY_18_.shape

21

In [145]:
sales_LLY_19_.shape

(64, 21)

In [146]:
#remove rows from data frame that do not contain data
sales_LLY_13_ = sales_LLY_13_.iloc[9:,]

sales_LLY_13_ = sales_LLY_13_.iloc[:49]
#sales_LLY_13_.drop([0,8], axis = 0).head()

In [149]:
sales_LLY_13_ = sales_LLY_13_.drop(["Unnamed: 0", "Unnamed: 5", "Unnamed: 9","Unnamed: 13", "Unnamed: 17"], axis=1)

In [176]:
sales_LLY_13_.head()

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 18,Unnamed: 19,LLY
9,NaN,Q1,Q1,Q1,Q2,Q2,Q2,Q3,Q3,Q3,Q4,Q4,Q4,2013,2013,2013
10,NaN,US,Intl,Total,US,Intl,Total,US,Intl,Total,US,Intl,Total,US,Intl,Total
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Zyprexa,32,252.8,284.8,19.5,263.7,283.2,32.9,245.8,278.7,39.2,309,348.2,123.6,1071.2,1194.8
13,Cymbalta,1056.9,271.3,1328.2,1217.4,279.8,1497.2,1109.2,266.6,1375.8,577.3,305.9,883.2,3960.8,1123.6,5084.4

In [175]:
#rename column using data in cells 
colnames_list = []
for i in range(sales_LLY_13_.shape[1]):
    colnames_list.append(sales_LLY_13_.get_value(1, i, takeable = True) + "_" +str(sales_LLY_13_.get_value(0, i, takeable = True))  )

#sales_LLY_13_.rename(columns = {"Unnamed: 1":""	,"Unnamed: 2":""	,"Unnamed: 3"	,"Unnamed: 4"	,"Unnamed: 6"	,"Unnamed: 7"	,"Unnamed: 8"	,"Unnamed: 10"	,"Unnamed: 11"	,"Unnamed: 12"	,"Unnamed: 14"	,"Unnamed: 15"	,"Unnamed: 16"	,"Unnamed: 18"	,"Unnamed: 19"	,"LLY"})

/Users/GuntherUlvanget/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: FutureWarning: get_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  after removing the cwd from sys.path.

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [172]:
sales_LLY_13_.get_value(0, 15, takeable = True)

/Users/GuntherUlvanget/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: get_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  """Entry point for launching an IPython kernel.

2013

In [179]:
sales_LLY_13_.at[10,1]

ValueError: At based indexing on an non-integer index can only have non-integer indexers