In [496]:
import pandas as pd
import numpy as np

In [497]:
sales_LLY_19_18_ = pd.read_excel("/Users/GuntherUlvanget/Dropbox/NADAC_downloads/ELILILLY/IR workbook Q3 2019.xlsx",
                  sheet_name = ["2019 Revenue", "2018 Revenue"])

sales_LLY_17_ = pd.read_excel("/Users/GuntherUlvanget/Dropbox/NADAC_downloads/ELILILLY/IR workbook Q3 2018 with Balance Sheet revised.xlsx",
                            sheet_name = "2017 Revenue")
sales_LLY_16_ = pd.read_excel("/Users/GuntherUlvanget/Dropbox/NADAC_downloads/ELILILLY/IR_Workbook_Q1_2017_Excluding_Balance_Sheet.xlsx",
                            sheet_name = "2016 Revenue" )
sales_LLY_15_ = pd.read_excel("/Users/GuntherUlvanget/Dropbox/NADAC_downloads/ELILILLY/IR_workbook_Q1_2016.xlsx",
                            sheet_name ="2015 Revenue" )
sales_LLY_14_13_ = pd.read_excel("/Users/GuntherUlvanget/Dropbox/NADAC_downloads/ELILILLY/IR_workbook_Q4_2014.xls",
                              sheet_name = ["2014 Sales","2013 Sales"])

#separate 2019 and 2018 sales data from the dictionary. 
#First make itmes into a list of dataframes
#then assign each DF in df_list to variable 

df_list = list (sales_LLY_19_18_.items())
df_2_list = list (sales_LLY_14_13_.items())

sales_LLY_18_ = (df_list[1][1])
sales_LLY_19_ = df_list[0][1]
sales_LLY_13_ = df_2_list[1][1]
sales_LLY_14_ = df_2_list[0][1]
sales_LLY_14_.head(20)
#make a list of all dataframes

sales_list = [sales_LLY_13_, sales_LLY_14_, sales_LLY_15_, sales_LLY_16_, sales_LLY_17_, sales_LLY_18_, sales_LLY_19_]
year = str(sales_LLY_14_.at[0, "LLY"])
#sales_LLY_13_.head(15)
#1000000
#1000000

In [498]:
#make header list to ease removal and renaming of columns later
def clean_up(df):
    
    #rename columns and then drop all NaN
    colnames_list = []
    df.drop(df.columns[0], axis = 1, inplace = True)
    #remove all rows and columns that are all NaN
    
    df.dropna(axis = 1,how = "all", inplace = True)
    df.dropna(axis = 0,how = "all", inplace = True)
    df.reset_index(drop = True,inplace=True)
    header_list = list(df.columns) 
    
    year = str(df.at[0, "LLY"])
    
    
    
    for i in range(df.shape[1]):
        colnames_list.append(str(df.at[1,header_list[i]]) + "_" + 
                             str(df.at[0, header_list[i]]))
    myDict = { k:v for (k,v) in zip(header_list, colnames_list)}
    df.rename(columns = myDict, inplace= True)
    # remove the first column which has useless data
    df['year'] = year
    
    df.rename(index=str, columns={"nan_nan":"drug"}, inplace = True)
    df.drop(labels = ['0','1'],axis = 0, inplace = True )
    df.reset_index(drop = True,inplace=True)
    min_vals = (df.iloc[0:6 + 1, 1:16].min()  >0) & (df.iloc[0:6 + 1, 1:16].min() < 100000)
    if min_vals.sum() > 0:
        df.iloc[0: , 1:16] = df.iloc[0: , 1:16]*1000000

In [499]:
[clean_up(df) for df in sales_list]

[None, None, None, None, None, None, None]

In [503]:
sales_list[5]

,drug,US_Q1,Intl_Q1,Total_Q1,US_Q2,Intl_Q2,Total_Q2,US_Q3,Intl_Q3,Total_Q3,US_Q4,Intl_Q4,Total_Q4,US_2018,Intl_2018,Total_2018,year
0,Basaglar,1.267e+08,3.93e+07,166000000,1.565e+08,4.53e+07,2.018e+08,1.573e+08,4.39e+07,2.012e+08,1.823e+08,4.99e+07,2.322e+08,6.228e+08,1.785e+08,8.012e+08,2018
1,Forteo,1.221e+08,1.911e+08,3.132e+08,2.251e+08,2.094e+08,4.345e+08,1.825e+08,2.083e+08,3.908e+08,2.282e+08,2.089e+08,4.371e+08,7.579e+08,8.177e+08,1.5756e+09,2018
2,Glucagon,3.38e+07,1.5e+06,3.54e+07,3.08e+07,1.6e+06,3.24e+07,4.58e+07,1.1e+06,4.69e+07,3.29e+07,1.5e+06,3.44e+07,1.433e+08,5.8e+06,1.491e+08,2018
3,Humalog,5.041e+08,2.876e+08,7.917e+08,4.645e+08,3.052e+08,7.698e+08,3.656e+08,299000000,6.646e+08,4.536e+08,3.169e+08,7.704e+08,1.7878e+09,1.2087e+09,2.9965e+09,2018
4,Humatrope,2.57e+07,40000000,6.56e+07,2.95e+07,4.29e+07,7.24e+07,2.71e+07,3.82e+07,6.53e+07,6.44e+07,3.92e+07,1.036e+08,1.467e+08,1.603e+08,307000000,2018
5,Humulin,2.216e+08,1.043e+08,3.259e+08,2.388e+08,1.072e+08,346000000,2.169e+08,1.051e+08,3.221e+08,2.329e+08,1.046e+08,3.374e+08,9.102e+08,4.212e+08,1.3314e+09,2018
6,Jardiance(1),95000000,56000000,151000000,8.56e+07,6.16e+07,1.472e+08,1.042e+08,6.27e+07,1.669e+08,1.154e+08,7.78e+07,1.932e+08,4.002e+08,2.581e+08,6.583e+08,2018
7,Trajenta(2),5.41e+07,87000000,1.411e+08,5.68e+07,8.49e+07,1.417e+08,5.03e+07,8.53e+07,1.357e+08,6.29e+07,9.33e+07,1.562e+08,2.242e+08,3.505e+08,5.747e+08,2018
8,Trulicity,5.282e+08,1.501e+08,6.783e+08,6.124e+08,1.674e+08,7.798e+08,6.459e+08,1.703e+08,8.162e+08,7.293e+08,1.955e+08,9.247e+08,2.5158e+09,6.833e+08,3.1991e+09,2018
9,Other Endocrinology*,4.5e+06,26000000,3.05e+07,1.2e+06,2.81e+07,2.93e+07,900000,2.73e+07,2.82e+07,-3.8e+06,2.51e+07,2.13e+07,2.7e+06,1.065e+08,1.092e+08,2018
10,NaN,1.7159e+09,9.829e+08,2.6987e+09,1.9012e+09,1.0538e+09,2.9549e+09,1.7965e+09,1.0414e+09,2.8379e+09,2.0981e+09,1.1125e+09,3.2106e+09,7.5116e+09,4.1905e+09,1.17021e+10,2018
11,Olumiant,0,3.22e+07,3.22e+07,1.7e+06,4.29e+07,4.47e+07,800000,5.48e+07,5.56e+07,4.2e+06,6.59e+07,7.01e+07,6.7e+06,1.959e+08,2.025e+08,2018
12,Taltz,1.112e+08,3.53e+07,1.465e+08,1.736e+08,4.65e+07,2.201e+08,2.106e+08,5.33e+07,2.639e+08,2.434e+08,6.36e+07,307000000,7.387e+08,1.987e+08,9.375e+08,2018
13,NaN,1.112e+08,6.75e+07,1.787e+08,1.753e+08,8.94e+07,2.647e+08,2.114e+08,1.081e+08,3.195e+08,2.476e+08,1.295e+08,3.771e+08,7.454e+08,3.946e+08,1140000000,2018
14,Cymbalta,1.22e+07,1.573e+08,1.696e+08,1.26e+07,1.694e+08,1.819e+08,1.45e+07,1.575e+08,172000000,1.51e+07,1.695e+08,1.845e+08,5.43e+07,6.537e+08,708000000,2018
15,Emgality,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.9e+06,0,4.9e+06,4.9e+06,0,4.9e+06,2018
16,Prozac,1.95e+07,2.35e+07,43000000,1.87e+07,2.09e+07,3.97e+07,1.96e+07,21000000,4.06e+07,16000000,2.01e+07,3.61e+07,7.38e+07,8.55e+07,1.593e+08,2018
17,Strattera,4.69e+07,8.37e+07,1.307e+08,1.69e+07,9.73e+07,1.142e+08,1.05e+07,8.82e+07,9.87e+07,1.53e+07,9.19e+07,1.072e+08,8.97e+07,3.611e+08,4.508e+08,2018
18,Zyprexa,8.8e+06,1.138e+08,1.226e+08,1.18e+07,1.162e+08,128000000,7000000,1.028e+08,1.099e+08,8.6e+06,1.023e+08,1.108e+08,3.62e+07,4.351e+08,4.713e+08,2018
19,Other Neuroscience*,4.7e+06,2.2e+06,6.9e+06,5.6e+06,1.6e+06,7.2e+06,4.2e+06,2000000,6.2e+06,4.1e+06,2.2e+06,6.2e+06,1.85e+07,8000000,2.65e+07,2018
20,NaN,9.21e+07,3.806e+08,4.727e+08,6.56e+07,4.053e+08,471000000,5.58e+07,3.715e+08,4.272e+08,6.39e+07,3.859e+08,4.498e+08,2.774e+08,1.5433e+09,1.8207e+09,2018
21,Alimta,2.453e+08,2.543e+08,4.996e+08,2.813e+08,2.746e+08,5.559e+08,2.885e+08,232000000,5.205e+08,3.159e+08,241000000,5.569e+08,1131000000,1.0019e+09,2.1329e+09,2018
22,Cyramza,6.83e+07,1.153e+08,1.836e+08,7.54e+07,1.433e+08,2.188e+08,67000000,1.314e+08,1.984e+08,8.08e+07,1.398e+08,2.206e+08,2.915e+08,5.299e+08,8.214e+08,2018
23,Erbitux,1.213e+08,2.83e+07,1.496e+08,140000000,2.64e+07,1.664e+08,1.326e+08,2.69e+07,1.595e+08,1.376e+08,2.22e+07,1.598e+08,5.316e+08,1.038e+08,6.353e+08,2018
24,Lartruvo,43000000,2.14e+07,6.44e+07,5.13e+07,2.86e+07,7.99e+07,4.74e+07,2.95e+07,7.69e+07,4.97e+07,3.38e+07,8.35e+07,1.914e+08,1.133e+08,3.047e+08,2018
25,Verzenio,2.97e+07,0,2.97e+07,5.77e+07,0,5.77e+07,8.45e+07,0,8.45e+07,7.65e+07,6.6e+06,8.31e+07,2.485e+08,6.6e+06,255000000,2018
26,Other Oncology,2.6e+06,27000000,2.96e+07,5.3e+06,26000000,3.14e+07,-200000,2.46e+07,2.44e+07,1.5e+06,2.43e+07,2.58e+07,9.2e+06,1.019e+08,1.111e+08,2018
27,NaN,5.102e+08,4.463e+08,9.566e+08,6.111e+08,499000000,1.1101e+09,6.198e+08,4.444e+08,1.0642e+09,6.621e+08,4.676e+08,1.1297e+09,2.4032e+09,1.8573e+09,4.2605e+09,2018
28,Cialis,3.134e+08,182000000,4.954e+08,3.457e+08,193000000,5.387e+08,2.959e+08,1.712e+08,4.671e+08,1.742e+08,1.764e+08,3.507e+08,1.1292e+09,7.227e+08,1.8518e+09,2018
29,Other*,5.28e+07,1.089e+08,1.617e+08,1.435e+08,1.021e+08,2.455e+08,9.12e+07,9.98e+07,191000000,3.76e+07,8.22e+07,1.198e+08,325000000,3.931e+08,7.181e+08,2018
30,NaN,3.662e+08,2.909e+08,6.571e+08,4.891e+08,2.951e+08,7.842e+08,3.871e+08,2.711e+08,6.581e+08,2.118e+08,2.586e+08,4.705e+08,1.4542e+09,1.1157e+09,2.5699e+09,2018
31,NaN,2.7956e+09,2.1682e+09,4.9638e+09,3.2423e+09,2.3427e+09,5585000000,3.0705e+09,2.2364e+09,5.3069e+09,3.2834e+09,2.3541e+09,5.6376e+09,1.23919e+10,9.1014e+09,2.14933e+10,2018

In [506]:
result = pd.concat(sales_list, join = 'inner')

In [507]:
result

,drug,US_Q1,Intl_Q1,Total_Q1,US_Q2,Intl_Q2,Total_Q2,US_Q3,Intl_Q3,Total_Q3,US_Q4,Intl_Q4,Total_Q4,year
0,Zyprexa,32000000,2.528e+08,2.848e+08,1.95e+07,2.637e+08,2.832e+08,3.29e+07,2.458e+08,2.787e+08,3.92e+07,309000000,3.482e+08,2013
1,Cymbalta,1.0569e+09,2.713e+08,1.3282e+09,1.2174e+09,2.798e+08,1.4972e+09,1.1092e+09,2.666e+08,1.3758e+09,5.773e+08,3.059e+08,8.832e+08,2013
2,Strattera,1.055e+08,6.12e+07,1.667e+08,1.026e+08,6.57e+07,1.683e+08,1.111e+08,6.21e+07,1.732e+08,127000000,7.41e+07,2.011e+08,2013
3,Prozac Family,1.86e+07,2.46e+07,4.32e+07,2.05e+07,2.54e+07,4.59e+07,1.93e+07,2.41e+07,4.34e+07,1.72e+07,2.51e+07,4.23e+07,2013
4,Amyvid,500000,0,500000,700000,100000,800000,800000,100000,800000,900000,100000,1000000,2013
5,Other Neuroscience*,2.1e+06,2.33e+07,2.54e+07,700000,8.5e+06,9.2e+06,1.1e+06,5.1e+06,6.2e+06,1.5e+06,7.5e+06,9000000,2013
6,NaN,1.2156e+09,6.332e+08,1.8488e+09,1.3614e+09,6.431e+08,2.0045e+09,1.2743e+09,6.038e+08,1.8781e+09,7.632e+08,7.216e+08,1.4848e+09,2013
7,Humalog,3.782e+08,2.545e+08,6.327e+08,3.519e+08,2.767e+08,6.286e+08,3.578e+08,2.582e+08,616000000,4.335e+08,3.004e+08,7.339e+08,2013
8,Humulin,1.634e+08,1.485e+08,3.119e+08,1.581e+08,1.694e+08,3.275e+08,1.614e+08,1.456e+08,307000000,1.942e+08,1.753e+08,3.695e+08,2013
9,Evista,1.716e+08,69000000,2.406e+08,1.993e+08,7.94e+07,2.787e+08,1.918e+08,6.35e+07,2.553e+08,2.093e+08,6.66e+07,2.759e+08,2013
10,Forteo,1.115e+08,170000000,2.815e+08,1.158e+08,1.811e+08,2.969e+08,1.279e+08,1.788e+08,3.067e+08,1.562e+08,2.036e+08,3.598e+08,2013
11,Humatrope,2.37e+07,5.54e+07,7.91e+07,3.51e+07,5.57e+07,9.08e+07,4.48e+07,5.17e+07,9.65e+07,3.52e+07,56000000,9.12e+07,2013
12,Actos,0,1.46e+07,1.46e+07,0,1.36e+07,1.36e+07,0,1.43e+07,1.43e+07,0,1.43e+07,1.43e+07,2013
13,Axiron,37000000,0,3.71e+07,4.67e+07,400000,4.71e+07,4.03e+07,300000,4.06e+07,53000000,900000,5.39e+07,2013
14,Glucagon,1.68e+07,2.6e+06,1.93e+07,2.22e+07,2.5e+06,2.47e+07,2.84e+07,1.9e+06,3.03e+07,22000000,1.4e+06,2.34e+07,2013
15,Trajenta,2.44e+07,1.82e+07,4.26e+07,24000000,3.08e+07,5.48e+07,2.91e+07,3.56e+07,6.47e+07,4.11e+07,46000000,8.71e+07,2013
16,Other Endocrinology*,6.6e+06,59000000,6.56e+07,1.88e+07,2.9e+06,2.17e+07,-2.2e+06,3.54e+07,3.32e+07,5.7e+06,16000000,2.17e+07,2013
17,NaN,9.332e+08,7.918e+08,1725000000,9.718e+08,8.125e+08,1.7843e+09,9.793e+08,7.854e+08,1.7647e+09,1.1503e+09,8.802e+08,2.0305e+09,2013
18,Alimta,2.621e+08,3.547e+08,6.168e+08,3.049e+08,3.645e+08,6.694e+08,310000000,3.805e+08,6.905e+08,332000000,3.942e+08,7.262e+08,2013
19,Gemzar,500000,5.22e+07,5.27e+07,0,4.75e+07,4.75e+07,0,4.43e+07,4.43e+07,-100000,4.87e+07,4.86e+07,2013
20,Erbitux Mfg Revenue,2.52e+07,0,2.52e+07,1.25e+07,0,1.25e+07,6.2e+06,0,6.2e+06,1.47e+07,0,1.47e+07,2013
21,Erbitux Royalty,5.05e+07,1.92e+07,6.96e+07,5.43e+07,25000000,7.93e+07,5.67e+07,2.43e+07,81000000,5.96e+07,2.57e+07,8.53e+07,2013
22,Other Oncology,0,-100000,-100000,0,-600000,-600000,0,-200000,-200000,0,-300000,-300000,2013
23,NaN,3.382e+08,426000000,7.642e+08,3.717e+08,4.364e+08,8.081e+08,3.728e+08,449000000,8.218e+08,4.062e+08,4.683e+08,8.745e+08,2013
24,Cialis,2.142e+08,3.008e+08,515000000,2.147e+08,3.147e+08,5.294e+08,234000000,2.927e+08,5.267e+08,2.798e+08,3.085e+08,5.883e+08,2013
25,Reopro,1.14e+07,2.21e+07,3.34e+07,1.22e+07,2.07e+07,3.29e+07,11000000,2.06e+07,3.16e+07,8.9e+06,20000000,2.89e+07,2013
26,Effient,8.37e+07,3.22e+07,1.159e+08,1.038e+08,3.36e+07,1.374e+08,9.27e+07,3.22e+07,1.249e+08,9.68e+07,3.38e+07,1.306e+08,2013
27,Adcirca,4.8e+06,9.2e+06,1.41e+07,5000000,1.02e+07,1.52e+07,5.1e+06,1.11e+07,1.62e+07,5000000,9.4e+06,1.44e+07,2013
28,Other Cardiovascular*,12000000,3.6e+06,1.56e+07,1.23e+07,4.1e+06,1.64e+07,1.25e+07,3.7e+06,1.63e+07,1.49e+07,5.2e+06,2.01e+07,2013
29,NaN,3.261e+08,3.678e+08,6.939e+08,3.481e+08,3.832e+08,7.313e+08,3.553e+08,3.603e+08,7.156e+08,4.053e+08,377000000,7.823e+08,2013
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3,Glucagon,3.09e+07,1.6e+06,3.24e+07,3.19e+07,2000000,3.39e+07,4.19e+07,1.4e+06,4.33e+07,NaN,NaN,NaN,2019
4,Humalog(1),4.486e+08,2.822e+08,7.308e+08,3.961e+08,2.815e+08,6.776e+08,3.562e+08,2.926e+08,6.489e+08,NaN,NaN,NaN,2019
5,Humatrope,2.86e+07,3.56e+07,6.42e+07,4.64e+07,3.77e+07,8.41e+07,2.75e+07,3.39e+07,6.14e+07,NaN,NaN,NaN,2019
6,Humulin,2.013e+08,9.64e+07,2.977e+08,2.201e+08,1.026e+08,3.226e+08,2.182e+08,1.036e+08,3.218e+08,NaN,NaN,NaN,2019
7,Jardiance(2),1.252e+08,7.84e+07,2.036e+08,1.426e+08,8.93e+07,2.319e+08,1.406e+08,1.001e+08,2.407e+08,NaN,NaN,NaN,2019
8,Trajenta(3),4.74e+07,8.46e+07,1.319e+08,6.45e+07,8.95e+07,1.539e+08,6.01e+07,9.54e+07,1.555e+08,NaN,NaN,NaN,2019
9,Trulicity,6.656e+08,2.141e+08,8.797e+08,7.921e+08,2.364e+08,1.0285e+09,7.555e+08,256000000,1.0115e+09,NaN,NaN,NaN,2019
10,Other Endocrinology*,2.2e+06,2.31e+07,2.53e+07,3.4e+06,1.97e+07,23000000,3.3e+06,1.78e+07,2.12e+07,NaN,NaN,NaN,2019
11,NaN,1.8739e+09,1.0562e+09,2.9301e+09,2102000000,1.1052e+09,3.2072e+09,1987000000,1.1574e+09,3.1444e+09,NaN,NaN,NaN,2019
12,Olumiant,6.4e+06,7.57e+07,8.21e+07,1.07e+07,9.17e+07,1.024e+08,1.21e+07,1.025e+08,1.146e+08,NaN,NaN,NaN,2019
13,Taltz,1.808e+08,7.17e+07,2.525e+08,2.681e+08,8.57e+07,3.538e+08,2.506e+08,8.94e+07,340000000,NaN,NaN,NaN,2019
14,NaN,1.872e+08,1.474e+08,3.347e+08,2.788e+08,1.773e+08,4.561e+08,2.628e+08,1.918e+08,4.546e+08,NaN,NaN,NaN,2019
15,Cymbalta,1.03e+07,1.538e+08,1.641e+08,1.81e+07,169000000,1.872e+08,1.03e+07,1.683e+08,1.786e+08,NaN,NaN,NaN,2019
16,Emgality,1.22e+07,2.1e+06,1.42e+07,3.38e+07,500000,3.43e+07,4.58e+07,1.9e+06,4.77e+07,NaN,NaN,NaN,2019
17,Prozac,1.31e+07,2.14e+07,3.45e+07,18000000,1.99e+07,3.79e+07,1.56e+07,2.25e+07,3.81e+07,NaN,NaN,NaN,2019
18,Strattera,1.5e+06,6.47e+07,6.62e+07,2.12e+07,6.14e+07,8.26e+07,8.7e+06,4.33e+07,5.21e+07,NaN,NaN,NaN,2019
19,Zyprexa,9.3e+06,9.79e+07,1.072e+08,9.3e+06,9.51e+07,1.043e+08,1.12e+07,9.42e+07,1.054e+08,NaN,NaN,NaN,2019
20,Other Neuroscience*,4.7e+06,2.1e+06,6.9e+06,4000000,2.4e+06,6.4e+06,3000000,1.8e+06,4.8e+06,NaN,NaN,NaN,2019
21,NaN,5.11e+07,342000000,3.931e+08,1.044e+08,3.483e+08,4.527e+08,9.46e+07,3.321e+08,4.267e+08,NaN,NaN,NaN,2019
22,Alimta,2.818e+08,2.174e+08,4.992e+08,3.417e+08,2.361e+08,5.778e+08,2.824e+08,2.259e+08,5.082e+08,NaN,NaN,NaN,2019
23,Cyramza,7.51e+07,1.232e+08,1.983e+08,8.98e+07,152000000,2.418e+08,8.25e+07,1.575e+08,240000000,NaN,NaN,NaN,2019
24,Erbitux,1.133e+08,5.1e+06,1.184e+08,1.369e+08,2.24e+07,1.593e+08,1.138e+08,1.48e+07,1.286e+08,NaN,NaN,NaN,2019
25,Lartruvo,2.96e+07,1.43e+07,4.39e+07,9.8e+06,1.9e+06,1.17e+07,4.9e+06,600000,5.5e+06,NaN,NaN,NaN,2019
26,Verzenio,9.35e+07,1.59e+07,1.094e+08,1.052e+08,2.87e+07,1.339e+08,1.248e+08,3.24e+07,1.572e+08,NaN,NaN,NaN,2019
27,Other Oncology,500000,43000000,4.36e+07,6.4e+06,6.64e+07,7.28e+07,3.18e+07,7.59e+07,1.077e+08,NaN,NaN,NaN,2019
28,NaN,5.939e+08,4.189e+08,1.0127e+09,6.898e+08,5.074e+08,1.1972e+09,6.402e+08,5.072e+08,1.1474e+09,NaN,NaN,NaN,2019
29,Cialis,1.432e+08,1.649e+08,3.082e+08,3.51e+07,1.651e+08,2.002e+08,3.09e+07,1.534e+08,1.843e+08,NaN,NaN,NaN,2019
30,Other*,4.15e+07,72000000,1.135e+08,4.24e+07,8.08e+07,1.232e+08,4.47e+07,7.45e+07,1.192e+08,NaN,NaN,NaN,2019
31,NaN,1.847e+08,2.369e+08,4.216e+08,7.75e+07,2.459e+08,3.235e+08,7.56e+07,2.279e+08,3.035e+08,NaN,NaN,NaN,2019
32,NaN,2.8908e+09,2.2014e+09,5.0922e+09,3.2525e+09,2.3842e+09,5.6367e+09,3.0602e+09,2.4164e+09,5.4766e+09,NaN,NaN,NaN,2019

In [179]:
header_list.append("LLY")


sales_LLY_13_.head()
sales_LLY_14_.shape

sales_LLY_15_.shape

sales_LLY_16_.shape

sales_LLY_17_.shape

sales_LLY_18_.shape

sales_LLY_19_.shape
header_list


    
#rename columns and then drop all NaN
"""colnames_list = []
sales_LLY_14_.drop(sales_LLY_13_.columns[0], axis = 1, inplace = True)
sales_LLY_14_.head()
"""#remove all rows and columns that are all NaN

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,LLY
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [180]:
sales_LLY_14_.dropna(axis = 1,how = "all", inplace = True)
sales_LLY_14_.head()

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 18,Unnamed: 19,LLY
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [181]:
sales_LLY_14_.dropna(axis = 0,how = "all", inplace = True)
sales_LLY_14_.head()

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 18,Unnamed: 19,LLY
9,NaN,Q1,Q1,Q1,Q2,Q2,Q2,Q3,Q3,Q3,Q4,Q4,Q4,2014,2014,2014
10,NaN,US,Intl,Total,US,Intl,Total,US,Intl,Total,US,Intl,Total,US,Intl,Total
12,Zyprexa,27.2,255.9,283.1,39.6,204.2,243.8,18.8,238.6,257.4,34.2,218.9,253.1,119.8,917.5,1037.3
13,Cymbalta,176,302.2,478.2,112.3,289,401.3,69.4,298.6,368,62.8,304.5,367.3,420.5,1194.2,1614.7
14,Strattera,83.1,71.3,154.4,129.5,67.9,197.4,120.9,71,191.9,119.1,75.8,194.9,452.5,286,738.5

In [182]:
sales_LLY_14_.reset_index(drop = True,inplace=True)
sales_LLY_14_.head()

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 18,Unnamed: 19,LLY
0,NaN,Q1,Q1,Q1,Q2,Q2,Q2,Q3,Q3,Q3,Q4,Q4,Q4,2014,2014,2014
1,NaN,US,Intl,Total,US,Intl,Total,US,Intl,Total,US,Intl,Total,US,Intl,Total
2,Zyprexa,27.2,255.9,283.1,39.6,204.2,243.8,18.8,238.6,257.4,34.2,218.9,253.1,119.8,917.5,1037.3
3,Cymbalta,176,302.2,478.2,112.3,289,401.3,69.4,298.6,368,62.8,304.5,367.3,420.5,1194.2,1614.7
4,Strattera,83.1,71.3,154.4,129.5,67.9,197.4,120.9,71,191.9,119.1,75.8,194.9,452.5,286,738.5

In [183]:
header_list = list(sales_LLY_14_.columns) 
sales_LLY_14_.head()

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 18,Unnamed: 19,LLY
0,NaN,Q1,Q1,Q1,Q2,Q2,Q2,Q3,Q3,Q3,Q4,Q4,Q4,2014,2014,2014
1,NaN,US,Intl,Total,US,Intl,Total,US,Intl,Total,US,Intl,Total,US,Intl,Total
2,Zyprexa,27.2,255.9,283.1,39.6,204.2,243.8,18.8,238.6,257.4,34.2,218.9,253.1,119.8,917.5,1037.3
3,Cymbalta,176,302.2,478.2,112.3,289,401.3,69.4,298.6,368,62.8,304.5,367.3,420.5,1194.2,1614.7
4,Strattera,83.1,71.3,154.4,129.5,67.9,197.4,120.9,71,191.9,119.1,75.8,194.9,452.5,286,738.5

In [ ]:
sales_LLY_14_.head()

In [185]:
year = str(sales_LLY_14_.at[0, "LLY"])
year

'2014'

In [188]:
for i in range(sales_LLY_14_.shape[1]):
    colnames_list.append(str(sales_LLY_14_.at[1,header_list[i]]) + "_" + 
                         str(sales_LLY_14_.at[0, header_list[i]]))
myDict = { k:v for (k,v) in zip(header_list, colnames_list)}
sales_LLY_14_.rename(columns = myDict, inplace= True)
# remove the first column which has useless data
sales_LLY_14_['year'] = year

sales_LLY_14_.rename(index=str, columns={"nan_nan":"drug"}, inplace = True)

sales_LLY_14_.head()
#remove rows from data frame that do not contain data
#sales_LLY_13_ = sales_LLY_13_.iloc[9:,]

#sales_LLY_13_ = sales_LLY_13_.iloc[:49]
#sales_LLY_13_.drop(sales_LLY_13_.columns[0], axis = 1)

ValueError: At based indexing on an non-integer index can only have non-integer indexers

In [483]:
def clean_up(df):
    
    #rename columns and then drop all NaN
    colnames_list = []
    df.drop(df.columns[0], axis = 1, inplace = True)
    #remove all rows and columns that are all NaN
    
    df.dropna(axis = 1,how = "all", inplace = True)
    df.dropna(axis = 0,how = "all", inplace = True)
    df.reset_index(drop = True,inplace=True)
    header_list = list(df.columns) 
    df.head()
    year = str(df.at[0, "LLY"])
    
    
    
    for i in range(df.shape[1]):
        colnames_list.append(str(df.at[1,header_list[i]]) + "_" + 
                             str(df.at[0, header_list[i]]))
    myDict = { k:v for (k,v) in zip(header_list, colnames_list)}
    df.rename(columns = myDict, inplace= True)
    # remove the first column which has useless data
    df['year'] = year
    
    df.rename(index=str, columns={"nan_nan":"drug"}, inplace = True)
    df.drop(labels = ['0','1'],axis = 0, inplace = True )
    df.reset_index(drop = True,inplace=True)
    min_vals = (df.iloc[:6 + 1, 1:16].min()  >0) & (df.illoc[:6 + 1, 1:16].min() < 100000)
    if min_vals.sum() > 0:
        df.iloc[0: , 1:16] = df.iloc[0: , 1:16]*1000000

In [484]:
clean_up(sales_LLY_13_)

KeyError: 'LLY'

In [472]:
min_vals = (sales_LLY_13_.iloc[:6 + 1, 1:16].min()  >0) & (sales_LLY_13_.iloc[:6 + 1, 1:16].min() < 100000)
min_vals.sum()

sales_LLY_13_.iloc[0: , 1:16]

,US_Q1,Intl_Q1,Total_Q1,US_Q2,Intl_Q2,Total_Q2,US_Q3,Intl_Q3,Total_Q3,US_Q4,Intl_Q4,Total_Q4,US_2013,Intl_2013,Total_2013
0,32,252.8,284.8,19.5,263.7,283.2,32.9,245.8,278.7,39.2,309,348.2,123.6,1071.2,1194.8
1,1056.9,271.3,1328.2,1217.4,279.8,1497.2,1109.2,266.6,1375.8,577.3,305.9,883.2,3960.8,1123.6,5084.4
2,105.5,61.2,166.7,102.6,65.7,168.3,111.1,62.1,173.2,127,74.1,201.1,446.3,262.9,709.2
3,18.6,24.6,43.2,20.5,25.4,45.9,19.3,24.1,43.4,17.2,25.1,42.3,75.6,99.3,174.9
4,0.5,0,0.5,0.7,0.1,0.8,0.8,0.1,0.8,0.9,0.1,1,2.8,0.3,3.1
5,2.1,23.3,25.4,0.7,8.5,9.2,1.1,5.1,6.2,1.5,7.5,9,5.4,44.4,49.8
6,1215.6,633.2,1848.8,1361.4,643.1,2004.5,1274.3,603.8,1878.1,763.2,721.6,1484.8,4614.5,2601.7,7216.2
7,378.2,254.5,632.7,351.9,276.7,628.6,357.8,258.2,616,433.5,300.4,733.9,1521.4,1089.8,2611.2
8,163.4,148.5,311.9,158.1,169.4,327.5,161.4,145.6,307,194.2,175.3,369.5,677.2,638.6,1315.8
9,171.6,69,240.6,199.3,79.4,278.7,191.8,63.5,255.3,209.3,66.6,275.9,772,278.4,1050.4
10,111.5,170,281.5,115.8,181.1,296.9,127.9,178.8,306.7,156.2,203.6,359.8,511.4,733.5,1244.9
11,23.7,55.4,79.1,35.1,55.7,90.8,44.8,51.7,96.5,35.2,56,91.2,138.8,218.8,357.6
12,0,14.6,14.6,0,13.6,13.6,0,14.3,14.3,0,14.3,14.3,0,56.8,56.8
13,37,0,37.1,46.7,0.4,47.1,40.3,0.3,40.6,53,0.9,53.9,177.1,1.6,178.7
14,16.8,2.6,19.3,22.2,2.5,24.7,28.4,1.9,30.3,22,1.4,23.4,89.4,8.4,97.8
15,24.4,18.2,42.6,24,30.8,54.8,29.1,35.6,64.7,41.1,46,87.1,118.6,130.6,249.2
16,6.6,59,65.6,18.8,2.9,21.7,-2.2,35.4,33.2,5.7,16,21.7,28.8,113.3,142.1
17,933.2,791.8,1725,971.8,812.5,1784.3,979.3,785.4,1764.7,1150.3,880.2,2030.5,4034.7,3269.7,7304.4
18,262.1,354.7,616.8,304.9,364.5,669.4,310,380.5,690.5,332,394.2,726.2,1209.1,1493.9,2703
19,0.5,52.2,52.7,0,47.5,47.5,0,44.3,44.3,-0.1,48.7,48.6,0.3,192.7,193
20,25.2,0,25.2,12.5,0,12.5,6.2,0,6.2,14.7,0,14.7,58.5,0,58.5
21,50.5,19.2,69.6,54.3,25,79.3,56.7,24.3,81,59.6,25.7,85.3,221.1,94.1,315.2
22,0,-0.1,-0.1,0,-0.6,-0.6,0,-0.2,-0.2,0,-0.3,-0.3,0,-1.2,-1.2
23,338.2,426,764.2,371.7,436.4,808.1,372.8,449,821.8,406.2,468.3,874.5,1488.9,1779.6,3268.5
24,214.2,300.8,515,214.7,314.7,529.4,234,292.7,526.7,279.8,308.5,588.3,942.8,1216.6,2159.4
25,11.4,22.1,33.4,12.2,20.7,32.9,11,20.6,31.6,8.9,20,28.9,43.4,83.4,126.8
26,83.7,32.2,115.9,103.8,33.6,137.4,92.7,32.2,124.9,96.8,33.8,130.6,376.9,131.8,508.7
27,4.8,9.2,14.1,5,10.2,15.2,5.1,11.1,16.2,5,9.4,14.4,20,39.9,59.9
28,12,3.6,15.6,12.3,4.1,16.4,12.5,3.7,16.3,14.9,5.2,20.1,51.8,16.6,68.4
29,326.1,367.8,693.9,348.1,383.2,731.3,355.3,360.3,715.6,405.3,377,782.3,1434.9,1488.3,2923.2
30,0,18.1,18.1,0,18.2,18.2,0,19.4,19.4,0,19.5,19.5,0,75.3,75.3
31,28.8,24.1,52.9,23,16.8,39.8,25.1,17.7,42.7,13.2,25.6,38.8,90.2,83.7,173.9
32,28.8,42.2,71,23,35,58,25.2,36.9,62.1,13.2,45.1,58.3,90.1,159.2,249.3
33,2841.9,2261,5102.9,3076,2310.2,5386.2,3006.9,2235.4,5242.3,2738.2,2492.2,5230.4,11663.1,9298.5,20961.6
34,186.6,168.1,354.7,191.9,183.8,375.8,216.1,196.2,412.3,236.8,232.5,469.3,831.5,780.6,1612.1
35,108.3,35.8,144.3,129.4,38.4,167.9,88.9,29.1,118,68.7,40.4,109.1,395.1,144.3,539.4
36,295.2,203.9,499.1,321.3,222.2,543.5,305,225.3,530.3,305.5,272.9,578.4,1226.6,924.9,2151.5
37,3137.1,2464.9,5602,3397.3,2532.4,5929.7,3311.9,2460.7,5772.6,3043.7,2765.1,5808.8,12889.7,10223.4,23113.1

In [445]:
min_vals = (sales_LLY_14_.iloc[:6 + 1, 1:16].min()> 0) & (sales_LLY_14_.iloc[:6 + 1, 1:16].min() <100000)
min_vals.sum()

15

In [443]:
min_vals = (sales_LLY_15_.iloc[:6 + 1, 1:16].min() >0) & (sales_LLY_15_.iloc[:6 + 1, 1:16].min() <100000)
min_vals.sum()

15

In [442]:
#df.drop(labels = ['0','1'],axis = 0, inplace = True )
min_vals = (sales_LLY_16_.iloc[:6 + 1, 1:16].min() >0) & (sales_LLY_16_.iloc[:6 + 1, 1:16].min()  < 100000)
min_vals.sum()

0

In [439]:
min_vals = (sales_LLY_17_.iloc[:6 + 1, 1:16].min() >0)& (sales_LLY_17_.iloc[:6 + 1, 1:16].min() < 100000)
#min_vals = sales_LLY_17_.iloc[:6 + 1, 1:16].min()
min_vals.sum()

0

In [438]:
min_vals = ((sales_LLY_18_.iloc[:6 + 1, 1:16].min() >0) & 
(sales_LLY_18_.iloc[:6 + 1, 1:16].min() < 100001))
min_vals.sum()

15

In [440]:
min_vals = (sales_LLY_19_.iloc[:6 + 1, 1:16].min() >0) & (sales_LLY_19_.iloc[:6 + 1, 1:16].min() <100001)
min_vals.sum()

4

In [380]:
#minValuesObj = sales_LLY_13_.min(axis =1 , numeric_only = True)
#minValuesObj = np.nanmin()
#sales_LLY_16_["Total_2016"] > 0 or sales_LLY_16_["Total_2016"] < 1000000
#np.nanmin(.values)

US_Q1          25.7
Intl_Q1         1.5
Total_Q1       35.4
US_Q2          29.5
Intl_Q2         1.6
Total_Q2       32.4
US_Q3          27.1
Intl_Q3         1.1
Total_Q3       46.9
US_Q4          32.9
Intl_Q4         1.5
Total_Q4       34.4
US_2018       143.3
Intl_2018       5.8
Total_2018    149.1
dtype: float64

In [335]:
sales_LLY_16_["Intl_2016"].min()

-200000